/*block2*/
.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2 p {
  line-height: 18px;
  font-size: 13px;
}

.articleblock2 {
  padding: 10px;
}

.imagenblock2 {
  width: 100%;
}

.boton1 {
  background-color: #FFFFFF;
  color: #5A98D0;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  margin-top: 25px;
}